body {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
flex-basis: auto;
background-color:  #17202a ;
color: #C70039;
position: absolute;
margin: auto;
margin-top: auto;
width: 100%;
vertical-align: middle;
height: 100%;
justify-content: center;
}

.textbox {
  background-color: white;
  font-size: 3rem;
  transform: rotate(-20deg);
  padding: 10px;
  margin-bottom: 200px;
  border-radius: 20px;
}
