body {
     margin: 0;
     padding: 0;
     text-align: center;
	background-color:black;
	color:white;
}
a:link {
  color: DarkRed;
  background-color: white;
  text-decoration: none;
}

a:visited {
  color: DarkRed;
  background-color: white;
  text-decoration: none;
}
	a:hover {
  background-color: DarkRed;
		color:white;
}
  .header {
    font-family: Lobster;
    text-align:center;
    font-size: 100px;
border-style: dashed;
	  width:1024px;
	  padding: 10px;
	  margin: 20px auto 20px auto;
	  color:white;
	  }
    #blogbox {
	color:white;
        width:1024px;
	border-style: dashed;
	padding: 10px;
	    margin: 0 auto;
   	text-align: left;
    }
	.dashed {
  border-bottom-style: dashed;
		padding: 10px;
		border-color: white;
		font-size: 0px;
		
}
	  .image {
    width: 200px;
		  margin-left: auto;
  margin-right: auto;
  }

  .image-border {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
  }
